#### Stock Market Prediction

In [1]:
# Import Libraries 
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
from sklearn import metrics 
import pyodbc 
from sklearn.linear_model import LinearRegression
import datetime
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from xgboost import XGBRegressor
from sklearn.preprocessing import StandardScaler
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import requests

In [ ]:
import pandas as pd
import requests

# Step 1: Read CSV file into DataFrame
csv_file_path = 'C:\\Users\\DELL\\Desktop\\DataSetNvidiaK\\NVDA.csv'
csv_data = pd.read_csv(csv_file_path)   

csv_data

# Step 2: Fetch data from API
#api_url = 'https://api.example.com/data'
#response = requests.get(api_url)
#api_data = response.json()
#api_df = pd.DataFrame(api_data)

# Step 3: Merge DataFrames on the common column 'id'
#merged_data = pd.merge(csv_data, api_df, on='id')

# Step 4: Handle missing data (optional)
#merged_data.fillna(method='ffill', inplace=True)

# Step 5: Save or use the merged data
#merged_data.to_csv('path/to/save/merged_data.csv', index=False)
#print(merged_data.head())

,Date,Adj Close,Close,High,Low,Open,Volume
0,1999-01-22,0.037615,0.041016,0.048828,0.038802,0.043750,2714688000
1,1999-01-25,0.041556,0.045313,0.045833,0.041016,0.044271,510480000
2,1999-01-26,0.038331,0.041797,0.046745,0.041146,0.045833,343200000
3,1999-01-27,0.038212,0.041667,0.042969,0.039583,0.041927,244368000
4,1999-01-28,0.038092,0.041536,0.041927,0.041276,0.041667,227520000
...,...,...,...,...,...,...,...
6553,2025-02-10,133.570007,133.570007,135.000000,129.960007,130.089996,216989100
6554,2025-02-11,132.800003,132.800003,134.479996,131.020004,132.580002,178902400
6555,2025-02-12,131.139999,131.139999,132.240005,129.080002,130.020004,160278600
6556,2025-02-13,135.289993,135.289993,136.500000,131.169998,131.559998,197430000
6557,2025-02-14,138.850006,138.850006,139.250000,135.500000,136.479996,194892300

In [5]:
dat = yf.Ticker("NVDA")
df = yf.download(["NVDA"], period='12mo', interval='1d') # Por hora o por minuto, o por dia 
#df[('Prev Close', 'NVDA')] = df[('Close', 'NVDA')].shift(1)  # Shifted by 1 to use previous day's close to predict today's
df.dropna(inplace=True)  # Remove rows with NaN values
df.tail()

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            NVDA        NVDA        NVDA        NVDA       NVDA
Date
2025-04-04   94.309998  100.129997   92.110001   98.910004  532273800
2025-04-07   97.639999  101.750000   86.620003   87.459999  611041300
2025-04-08   96.300003  105.849998   94.459999  103.809998  476243400
2025-04-09  114.330002  115.099998   97.529999   98.889999  609886300
2025-04-10  106.349998  110.860001  103.010002  109.320000  271377596